<h4><a href="http://5p2p.it">5pani2pesci</a></h4>

<p class="card">Questa pagina ed il servizio fotografico per il giorno del matrimonio sono realizzati da <a href="http://5p2p.it">5pani2pesci</a>, un progetto di evangelizzazione per la famiglia attraverso lo sviluppo di video, articoli e testimonianze. Tutto il ricavato ottenuto con i servizi fotografici ai matrimoni è finalizzato al finanziamento di questa attività.</p>

<p>Per maggiori informazioni <a href="http://5p2p.it">vieni a conoscere</a> il nostro progetto.</p>