           <section class="share">
                <h4>Seguici su</h4>
                <a class="icon-twitter" href="https://twitter.com/5pani2pesci">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook-big" href="https://www.facebook.com/5pani2pesci">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-feed" href="http://5p2p.it">
                    <span class="hidden">Blog</span>
                </a>
            </section>
